---
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'minecraft';
    src: url('../fonts/minecraft.woff2') format('woff2'),
    	url('../fonts/minecraft.woff') format('woff'),
	url('../fonts/minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 { font-family: "minecraft"; font-size: 30px; text-align: center }
